@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    /* Override colors for black and white theme */
    --color-zinc-50: #ffffff;
    --color-zinc-100: #f0f0f0;
    --color-zinc-200: #d9d9d9;
    --color-zinc-300: #bfbfbf;
    --color-zinc-400: #a6a6a6;
    --color-zinc-500: #8c8c8c;
    --color-zinc-600: #737373;
    --color-zinc-700: #595959;
    --color-zinc-800: #404040;
    --color-zinc-900: #262626;
    --color-zinc-950: #0d0d0d;

    --color-accent: #000000;
    --color-accent-content: #000000;
    --color-accent-foreground: #ffffff;
}

@layer theme {
    .dark {
        --color-accent: #ffffff;
        --color-accent-content: #ffffff;
        --color-accent-foreground: #000000;

        --color-zinc-50: #000000;
        --color-zinc-100: #1a1a1a;
        --color-zinc-200: #333333;
        --color-zinc-300: #4d4d4d;
        --color-zinc-400: #666666;
        --color-zinc-500: #808080;
        --color-zinc-600: #999999;
        --color-zinc-700: #b3b3b3;
        --color-zinc-800: #cccccc;
        --color-zinc-900: #e6e6e6;
        --color-zinc-950: #f2f2f2;
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-zinc-300, currentColor);
    }
}

[data-flux-field]:not(ui-radio) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
